@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

$primary: #0D47A1;

body,html{
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

#app{
  height: 100%;
}

.valign-wrapper{
  display: table;
  height: 100%;
  width: 100%;
  .valign{
    display: table-cell;
    vertical-align: middle;
  }
}

body{
  padding: 0;
  margin: 0;
}

i{
  vertical-align: middle;
}

.btn{
  border-radius: 3px;
  padding: 0.6em;
  &.btn-primary{
    background-color: $primary;
    color: #FFF;
  }
  &.btn-extended{
    width: 100%;
  }
  &:focus{
    outline: 0;
  }
}

.input-wrapper{
  input{
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #EEE;
    padding: 0;
    transition: all 0.5s ease-in-out;
    &:focus{
      box-shadow: none;
      border: 0;
      outline: 0;
      border-bottom: 2px solid $primary;
    }
  }
}
